* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgb(82, 82, 176);
    border-radius: 3px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15vw;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(82, 82, 176);
    color: white;
}

.container {
    display: flex;
    margin-bottom: 30px;
    width: 70%;
    display: flex;
}

.cartItem {
    margin-bottom: 40px;
}

#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar {
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
}

.head {
    background-color: rgb(82, 82, 176);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.totalPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid;
}

.box {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border: 1px solid rgb(82, 82, 176);
    border-radius: 5px;
    padding: 15px;
}

.box2 {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    border: 1px solid rgb(82, 82, 176);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.image-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box2 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 100%;
}

.box2 img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.images {
    max-width: 100px;
    min-width: 90%;
    min-height: 90%;
    object-fit: cover;
    object-position: center;
}

.box .bottom {
    margin-top: 20px;
    width: 100%;
    display: block;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

h2 {
    font-size: 20px;
    color: red;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(82, 82, 176);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}

button:hover {
    background-color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(82, 82, 176);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowing {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash {
    color: rgb(82, 82, 176);
}

.fa-trash:hover {
    cursor: pointer;
    color: #333;
}

.button--like {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5px;
}

.like {
    color: rgb(238, 159, 159);
    height: 10px;
    cursor: pointer;
}

.like:hover {
    color: red;
}

.korzinka-like {
    display: flex;
    align-items: center;
    gap: 20px;
}

.like-span {
    color: red;
}

.remove {
    display: none;
}

.main-wrapper {
    position: relative;
    z-index: 1;
}

.wrapper__Modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* margin: auto auto; */
}

.shadow {
    z-index: 2;
    position: absolute;
    width: 100%;
    /* min-height: 100vh; */
    height: 1200px;
    background: rgb(0, 0, 0, 0.5);
}

.modal {
    width: 500px;
    height: 300px;
    background: white;
    transform: translateX(100%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__input {
    padding: 10px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: 2px solid grey;
}

.modal__close {
    margin-left: 428px;
    /* margin-top: -42px; */
    border:1px solid grey;
    border-radius:50px;
    width: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.modal__button {}